<div>
  <a class="btn-style-link" href="/memos/new">新規作成</a>
</div>
<ul>
  <% @memos.each do |id, memo| %>
    <li>
      <a href="/memos/<%= id %>"><%= escape_html(memo["title"]) %></a>
    </li>
  <% end %>
</ul>
